/***************************************
 Author:	Scott Cordle
 Date:		12/09/2024
 
 Description: Stylesheet for index.htm
 Resources: 
***************************************/

body {
	background-color: #000000;
	width: 1080px;
	margin: auto;
	margin-top: 0px;
	font-family: Verdana, Helvitica, sans-serif;
	font-size: 16pt;
}

h1 {
	font-family: Arial;
	font-size: 36pt;
	text-align: left;
	letter-spacing: 2px;
	color: black;
}

h3 {
	font-family: Arial;
	font-size: 22pt;
	text-align: left;
	color: black;
}

a:link  {
	color: #00628B;
	text-decoration: none;
}

a:visited   {text-decoration: none}
a:active {
	color: #00628B;
	text-decoration: none;
}
	
a:hover {
	color: #81A594;
	text-decoration: underline;
}

table {
	border: single;
	padding: 2px 5px 2px 5px;
}

#header {
	background-color: #00628B;
	text-align: center;
	padding: 15px 0px;
	color: #E6E6DC;
	padding: 15px;
}

#header p {
	/*text-align: right; */
	float: right;
	clear: both; 
}

#left {
	background-color: #E6E6DC;
	color: black;
	width: 290px;
	float: left;
	height: 1300px;
	padding: 15px;
	border-right: 5px double #81A594;
}

#right {
	background-color: #E6E6DC;
	color: black;
	width: 725px;
	float: right;
	padding: 15px;
}
#content h1, h2 {
	color: #00628B;
}

#footer {
	background-color: #81A594;
	width: 1070px;
	clear: both;
	text-align: center;
	padding: 15px;
}