/***************************************
 Author:	Scott Cordle
 Date:		12/10/2024
 
 Description: 	Stylesheet for startover.html
 Resources: 	startover.html
***************************************/

body {
	font-family: Verdana, Helvitica, sans-serif;
	color: #000000;
	font-size: 16pt;
	width: 85%;
	background-color: #123456;
	margin: auto;
	margin-top: 0px;
}

header {
	background-color: #E6E6DC;
	text-align: center;
	padding: 15px 0px;
	color: #E6E6DC;
	padding: 15px;
}

header h1 {
	font-size: 36pt;
	margin: 35px 0px 0px 0px;
	padding: 15px 0px 0px 15px;
	background-color: #E6E6DC;
}

header h3 {
	font-size: 24pt;
	margin: 0px;
	padding: 0px 0px 15px 15px;
	background-color: #E6E6DC;
}

header img {
	clear: both;
	display: block;
	float: right;
	width: 300px;
	height: 300px;
}

header p {
    margin: 0px;
    padding: 15px 0px 0px 15px;
}

h1 {
	font-family: Arial;
	font-size: 22pt;
	text-align: left;
	letter-spacing: 2px;
	margin: 0px;
	padding: 15px 0px 0px 15px;
	color: black;
}

h3 {
	font-family: Arial;
	font-size: 16pt;
	text-align: left;
	color: #123456;
}

p {
	margin: 15px;
	padding: 15px;
}
a:link  {
	color: #00628B;
	text-decoration: none;
}

a:visited   {text-decoration: none}
a:active {
	color: #00628B;
	text-decoration: none;
}
	
a:hover {
	color: #cc19d8;
	text-decoration: underline;
}

table {
	border: none;
	padding: 2px 5px 2px 5px;
	width: 90%;
	margin-left: 30px;
}

nav {
	background-color: #E6E6DC;
	color: black;
	width: 290px;
	float: left;
	height: 1300px;
	padding: 15px;
	border-right: 5px double #81A594;
}

#section {
	background-color: #E6E6DC;
	color: black;
	width: 725px;
	float: right;
	padding: 15px;
}

#section h1, h2 {
	color: #00628B;
}

footer {
	background-color: #81A594;
	width: 1070px;
	clear: both;
	text-align: center;
	padding: 15px;
}